@import src/styles/vars

/**
 * Styles
 */



.navburgerlink
  display: flex
  margin: 2em 2em 1em 2em 

  @media only screen and (max-width : 640px) 

   display: flex
   margin: 2em 2em 1em 2em 

  
   

.navburgerlink:hover
  color: white