@import src/styles/vars
  
.aventurePictureContainer
  @media only screen and (max-width : 475px)
   width: 100%
   height: 200px

  @media only screen and (min-width : 475px) 
   width: 100%
   height: 550px  

.aventureTitle
  @media only screen and (max-width : 475px)
   margin: 0% 0% 5% 0%
   

  @media only screen and (min-width : 475px) 
   margin: 0% 0% 2% 0%

.documentaireTitle
  @media only screen and (max-width : 475px)
   margin: 10% 0% 0% 2.2%
   font-size: 15px

  @media only screen and (min-width : 475px) 
   margin: 4% 0% 0% 2.5%
   font-size: 25px

.documentaireContainer1
  @media only screen and (min-width : 200px)
   background-color: #282828
   width: 100% 
   height: 1100px
   display: block 
  @media only screen and (min-width : 475px)
   background-color: #282828
   width: 100% 
   height: 1100px
   display: block 
  @media only screen and (min-width : 600px)
   background-color: #282828
   width: 100% 
   height: 600px 
   display: flex
   justify-content: center
   align-items: center
   overflow: hidden 
  @media only screen and (min-width : 1050px) 
   background-color: #282828
   width: 100% 
   height: 1000px 
   display: flex
   justify-content: center
   align-items: center
   overflow: hidden
   
.caphornPosterContainer
  max-width: 100%
  height: auto 
  position: relative
  
.apurimacPosterContainer
  max-width: 100%
  height: auto 
  position: relative
 

.caphornPoster
  @media only screen and (min-width : 200px)
   width: 20em 
   height: auto
   margin: 0% auto
   padding-top: 20px
   display: block
  @media only screen and (min-width : 750px)
   width: 20em 
   height: auto
   margin: 0% 0% 0% 0%
  @media only screen and (min-width : 1050px)
   width: 30em 
   height: auto
   margin: 0% 0% 0% 0%

  @media only screen and (min-width : 1440px) 
   width: 35em 
   height: auto
   margin: 0% 0% 0% 0%
   position: relative
   
   
 
.appurimacPoster
  @media only screen and (min-width : 200px)
   width: 20em
   height: auto
   margin: 17% auto
   display: block
  @media only screen and (min-width : 750px)
   width: 20em
   height: auto
   margin: 2% 10px 0% 3%
  @media only screen and (min-width : 1050px)
   width: 30em
   height: auto
   margin: 2% 10px 0% 3%
   
  @media only screen and (min-width : 1440px) 
   width: 35em
   height: auto
   margin: 2% 10px 0% 10%
   position: relative

.voirFilm
  color: white
  padding: 1em 1em 1em 1em
  border: 2px solid #32A1CE
  border-radius: 10px
  font-family: 'roboto'
  z-index: 99
  text-shadow: black 0.1em 0.1em 0.2em
  @media only screen and (min-width : 200px)
   font-size: 15px
   margin: 10px 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 60%
   left: 50%
   width: 70%
   text-align: center
  @media only screen and (min-width : 600px)
   font-size: 15px
   margin: 10px 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 50%
   width: 70%
   text-align: center
  @media only screen and (min-width : 1050px)
   font-size: 17px
   margin: 10px 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 50%
   width: 75%
   text-align: center
  @media only screen and (min-width : 1450px) 
   font-size: 17px
   font-weight: bold
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 50%
   width: 55%
   text-align: center
  
  


.voirFilm:hover 
  background-color: #313b49


.voirFilm2
  z-index: 99
  padding: 1em 2em 1em 2em
  border: 2px solid #32A1CE
  border-radius: 10px
  font-family: 'roboto' 
  color: white
  @media only screen and (min-width : 200px) 
   font-size: 15px
   margin: 0em 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 60%
   left: 50%
   width: 70%
   text-align: center
  @media only screen and (min-width : 600px)
   font-size: 15px
   margin: 10px 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 50%
   width: 78%
   text-align: center
  
  @media only screen and (min-width : 1050px)
   font-size: 15px
   margin: 10px 0em 0em 0em
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 50%
   width: 75%
   text-align: center
  @media only screen and (min-width : 1450px) 
   font-size: 17px
   color: white
   font-weight: bold
   text-shadow: black 0.1em 0.1em 0.2em
   position: absolute
   transform: translate(-50%, -50%)
   top: 55%
   left: 60%
   width: 55%
   text-align: center

.voirFilm2:hover 
  background-color: #313b49

  




