@import src/styles/vars



.clientsPictureContainer
  @media only screen and (max-width : 475px)
   width: 100%
   height: 58em

  @media only screen and (min-width : 475px) 
   width: 100%
   height: 55em

.clientsContainer1
  @media only screen and (max-width : 475px)
   background-color: #282828
   width: 100% 
   height: auto 
   

   

  @media only screen and (min-width : 475px) 
   background-color: #282828
   width: 100% 
   height: auto 
   display: flex
  



.presentationVideos5
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
 
  font-weight: 600
  text-transform: none
  letter-spacing: 4px
  height: 25px
  line-height: 1px
  
  font-weight: bold
  color: #8C3001
  
  @media only screen and (max-width : 475px) 
   
   
   font-size: 0.85em
   letter-spacing: 7px
   margin: 5% 2% 2% 2%
   text-align: center
  
 
  @media only screen and (min-width : 475px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   margin: 4% 0% 2% 32%
   font-size: 2em
   padding-top: 2.5em

