.competences
  @media only screen and (max-width : 475px)
   width: 100% 
   height: 2800px
  
  @media only screen and (min-width : 800px)
   width: 100% 
   height: 2300px
  @media only screen and (min-width : 1050px) 
   width: 100% 
   height: 1400px
  
 
  

.competencesPresentContainer
  @media only screen and (max-width : 475px)
   width: 100% 
   height: auto
   background-color: white
  
  @media only screen and (min-width : 800px)
   width: 100% 
   height: 1800px
   background-color: white
   position: relative 
   
  @media only screen and (min-width : 1050px) 
   width: 100% 
   height: 875px
   background-color: white
   display: flex
   justify-content: center
   position: relative
   

.competencesTitle
  font-style: normal
  font-weight: 600
  font-size: 32px
  font-family: "texgyreadventorregular"
  line-height: 45.1px
  text-transform: uppercase
  letter-spacing: 5px
  color: #28262b
  text-align: center

  margin-top: 1em

.iconCamera
  @media only screen and (max-width : 475px)
   width: 4em
   margin: 0% 0% 0% 44%
  @media only screen and (min-width : 475px)
   width: 4em
   margin: 0% 0% 3% 49%
   color: #ada30a

.separationLigne
  @media only screen and (max-width : 475px)
   border-bottom: thick double #32a1ce 
   width: 12em
   margin-top: 2% 
   margin-left: 28%
 
  @media only screen and (min-width : 475px) 
   border-bottom: thick double #32a1ce 
   width: 40em
   margin-top: 2% 
   margin-left: 35%
 
.photoPluie
  @media only screen and (max-width : 475px)
   width: 400px
   height: 400px
   margin: 20px 0px 0px 100px
  
  
  @media only screen and (min-width : 475px)
   width: 100%
   height: 400px
   margin: 20px 0px 0px 100px

.competencesGauche
  @media only screen and (max-width : 475px)
   float: left
   margin: 3% 0% 0% 10%
   height: auto

  @media only screen and (min-width : 800px)
   margin: 37px 0% 0% 0%
   height: auto
   width: 15em
   
   flex-wrap: wrap
   height: auto
   width: 100%
   
   

  @media only screen and (min-width : 1050px)
   margin: 37px 0% 0% 5%
   height: auto
   width: 15em
   display: block
   
   
   
  @media only screen and (min-width : 1200px) 
   margin: 37px 0% 0% 5%
   height: auto
   width: 18em
   display: block

  
.competencesGauche1
  @media only screen and (max-width : 475px)
   height: 120px
   margin-left: 30%
   margin-top: 15px
   display: bloc
   width: 300px
   position: relative
   
   

  @media only screen and (min-width : 800px)
   height: 120px
   margin-left: 30%
   margin-top: 15px
   display: bloc
   width: 300px
   position: relative
   
   
  @media only screen and (min-width : 1050px) 
   margin-left: 0px
   margin-top: 0px
   height: 150px
.competencesGauche2
  @media only screen and (max-width : 475px)
   
   margin-left: 30%
   margin-top: 0px
   display: bloc
   width: 250px
   height: 200px
   position: relative

  @media only screen and (min-width : 800px)
   
   margin-left: 30%
   margin-top: 0px
   display: bloc
   width: 250px
   height: 150px
   position: relative
   
   
   
  @media only screen and (min-width : 1050px) 
   margin-left: 0px
   height: auto   

.competencesGauche3
  @media only screen and (max-width : 475px)
   height: 120px
   margin-left: 30%
   display: bloc
   width: 300px
   position: relative
  @media only screen and (min-width : 800px)
   height: 120px
   margin-left: 30%
   display: bloc
   width: 300px
   position: relative
  @media only screen and (min-width : 1050px) 
   margin-left: 0px
   height: auto   
.competencesGauche4
  @media only screen and (max-width : 475px)
   height: 120px
   margin-left: 30%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
   
  @media only screen and (min-width : 800px)
   height: 120px
   margin-left: 30%
   margin-top: 4%
   display: bloc
   width: 300px
   position: relative
   
  @media only screen and (min-width : 1050px) 
   margin-left: 0px
   height: auto   
.competencesGauche5
  @media only screen and (max-width : 475px)
   height: 120px
   margin-left: 30%
   display: bloc
   width: 300px
   position: relative
   margin-top: 4%
  @media only screen and (min-width : 800px)
   height: 120px
   margin-left: 30%
   display: bloc
   width: 300px
   position: relative
   margin-top: 4%
  @media only screen and (min-width : 1050px) 
   margin-left: 0px
   height: auto   

.scenarisation-title
  
  
  @media only screen and (min-width : 800px)
   margin: 8% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right
  @media only screen and (min-width : 1050px)
   margin: 8% 0% 0% 4%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right

.scenarisation-title2
  
  
  @media only screen and (min-width : 800px)
   margin: 15% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right
  @media only screen and (min-width : 1050px)
   margin: 15% 0% 0% 28%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right

.scenarisation-title3
  @media only screen and (min-width : 800px)
   margin: 15% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right
  @media only screen and (min-width : 1050px)
   margin: 15% 0% 0% 28%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right

.scenarisation-title4
  @media only screen and (min-width : 800px)
   margin: 15% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right
  @media only screen and (min-width : 1050px)
   margin: 15% 0% 0% 28%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right

.scenarisation-title5
  @media only screen and (min-width : 800px)
   margin: 15% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right
  @media only screen and (min-width : 1050px)
   margin: 15% 0% 0% 28%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: inline-block
   text-align: right

.scenarisation
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 0%
   width: 100%
   display: flex
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 0%
   width: 40em
   display: flex
  @media only screen and (min-width : 1050px) 
   margin: 0% 0% 0% 0%
   width: 100%
   display: flex
  
  

.scenarisation-text
  @media only screen and (min-width : 475px)
   width: 15em
   text-align: right
   font-style: normal
   font-weight: 400
   font-size: 14px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   color: #565656
   margin: 5% 0% 0% 0%
  @media only screen and (min-width : 800px)
   width: 40em
   text-align: left
   font-style: normal
   font-weight: 400
   font-size: 14px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   color: #565656
   margin: 5% 0% 5% 0%
   
  @media only screen and (min-width : 1050px) 
   width: 15em
   text-align: right
   font-style: normal
   font-weight: 400
   font-size: 14px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   color: #565656
   margin: 5% 0% 0% 0%

.svg-inline--fa.fa-pencil-alt.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPen

  
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 55%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 40px
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 15%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
   position: absolute
   left: 60%
   top: 2%
  @media only screen and (min-width : 1050px)
   margin: 0% 0% 0% 35%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
.svg-inline--fa:hover
   margin: 0% 0% 0% 35%
   color: rgba(89, 23, 212, 0.938)
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #94909cef
   font-size: 50px
.svg-inline--fa.fa-calendar-alt.fa-w-14.fa-null.fa-rotate-null.fa-pull-null.iconCalendar

  
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 55%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 40px
  @media only screen and (min-width : 800px)
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
   position: absolute
   left: 90%
   top: 15%
  @media only screen and (min-width : 1050px)
   margin: 0% 0% 0% 35%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px

.svg-inline--fa.fa-user.fa-w-14.fa-null.fa-rotate-null.fa-pull-null.iconMan

  
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 55%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 40px
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 15%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
   position: absolute
   left: 60%
   top: 18%
  @media only screen and (min-width : 1050px)
   margin: 0% 0% 0% 35%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px

.svg-inline--fa.fa-video.fa-w-18.fa-null.fa-rotate-null.fa-pull-null.iconVideo

  
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 55%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 40px
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 25%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
   position: absolute
   left: 50%
   top: 18%
  @media only screen and (min-width : 1050px)
   margin: 0% 0% 0% 35%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
.svg-inline--fa.fa-fighter-jet.fa-w-20.fa-null.fa-rotate-null.fa-pull-null.iconDrone

  
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 55%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 40px
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 22%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px
   position: absolute
   left: 50%
   top: 15%
  @media only screen and (min-width : 1050px)
   margin: 0% 0% 0% 35%
   color: #32A1CE
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   font-size: 50px

.photoCadrage
  @media only screen and (max-width : 475px)
   
   height: 40em
   margin: 5% 0% 40px 25px
   bottom: 70px
   left: 800px
  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0px 0px
   
   height: 180px
   width: 120px
   
.borisBureau
  @media only screen and (max-width : 475px)
   display: none
  @media only screen and (min-width : 475px)
   margin: 0% 0% 0px 10px
   
   height: 180px
   width: 120px
.pilotageDrone
  @media only screen and (max-width : 475px)
   display: none
  
  @media only screen and (min-width : 475px)
   margin: 0% 0% 0px 10px
   
   height: 180px
   width: 120px
.borisFilm
  @media only screen and (max-width : 475px)
   display: none
  
  @media only screen and (min-width : 475px)
   margin: 0% 0% 77px 0px
   
   height: 180px
   width: 120px
.micros
  @media only screen and (max-width : 475px)
   display: none
  
  @media only screen and (min-width : 475px)
   margin: 0% 0% 77px 10px
   
   height: 180px
   width: 120px
.borisDrone2
  @media only screen and (max-width : 475px)
   display: none
  
  @media only screen and (min-width : 475px)
   margin: 0% 0% 77px 10px
   
   height: 180px
   width: 120px

.videoSkillsContainer 
  @media only screen and (min-width : 475px)
   max-width: 400px
   height: 300px
   display: block
  @media only screen and (min-width : 800px)
   max-width: 400px
   height: 300px
   margin-right: 100px
   margin-left: 50px
  @media only screen and (min-width : 1050px)
   max-width: 400px
   height: 750px
   
   margin-right: 100px
   margin-left: 50px
   
  
  
.videoSkillsContainer iframe
  @media only screen and (min-width : 475px)
   max-width: 300px
   height: 300px
  @media only screen and (min-width : 800px)
   max-width: 400px
   height: 300px
   margin-right: 180px
   margin-left: 250px
  @media only screen and (min-width : 1050px)
   max-width: 500px
   height: 750px
   margin-right: 180px
   margin-left: 80px
   
.photoPresentationTop
  @media only screen and (max-width : 475px)
   width: 500px
   height: 200px
   margin-bottom: 0px
   position: absolute
   top: 2960px
  @media only screen and (min-width : 475px)
   width: 400px
   height: 200px
   margin-bottom: 0px
   position: absolute
   top: 2960px
   left: 41%
   
.photoPresentationCenter
  @media only screen and (max-width : 475px)
   width: 400px
   height: 200px
   position: absolute
   top: 3170px
   left: 41%
   display: inline-block
  
  
  @media only screen and (min-width : 475px)
   width: 500px
   height: 200px
   position: absolute
   top: 3170px
   left: 41%
   

.photoPresentationBottom
  @media only screen and (min-width : 475px)
   width: 500px
   height: 200px
   position: absolute
   top: 3380px
   left: 41%
   
   display: inline-block
  
.competencesDroite
  
  @media only screen and (max-width : 475px)
   
   margin: 3.5% 20% 10% 10%
   height: auto
   width: 18em
  @media only screen and (min-width : 800px)
   
   left: 70%
   top: 50px
   margin: 40px 8% 0% 0%
   height: auto
   
   
  
  @media only screen and (min-width : 1050px)
   display: block
   left: 70%
   top: 50px
   margin: 40px 8% 0% 5%
   height: auto
   width: 18em


.title-droite1
  @media only screen and (min-width : 800px)
   margin: 5% 60% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  @media only screen and (min-width : 1050px)
   margin: 8% 50% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 

.title-droite2
  @media only screen and (min-width : 800px)
   margin: 4% 48% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  @media only screen and (min-width : 1050px)
   margin: 10% 40% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 

  

.title-droite3
  @media only screen and (max-width : 475px)
   margin: 10% 50% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  @media only screen and (min-width : 800px)
   margin: 10% 50% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  
  @media only screen and (min-width : 1050px)
   margin: 15% 40% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  

.title-droite4
  @media only screen and (max-width : 475px)
   margin: 15% 43% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  @media only screen and (min-width : 475px)
   margin: 15% 43% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  
  
 

.title-droite5
  @media only screen and (min-width : 800px)
   margin: 4% 50% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  @media only screen and (min-width : 1050px)
   
   margin: 18% 40% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: #28262b
   display: block
   text-align: right 
  
  
  
.text-droite1
  
  text-align: left
  font-style: normal
  font-weight: 400
  font-size: 14px
  font-family: "Raleway"
  line-height: 24.99px
  text-transform: none
  letter-spacing: 0px
  color: #565656
  @media only screen and (max-width : 475px)
   margin: 4% 0% 0% 20%
   width: 40em
  @media only screen and (min-width : 800px)
   margin: 4% 0% 0% 18%
   width: 40em
  @media only screen and (min-width : 1050px) 
   margin: 4% 0% 0% 18%
   width: 20em
.text-droite2
  
  text-align: left
  font-style: normal
  font-weight: 400
  font-size: 14px
  font-family: "Raleway"
  line-height: 24.99px
  text-transform: none
  letter-spacing: 0px
  color: #565656
  @media only screen and (max-width : 475px)
   margin: 4% 0% 0% 0%
   width: 40em
  @media only screen and (min-width : 800px)
   margin: 4% 0% 0% 8%
   width: 40em
  @media only screen and (min-width : 1050px) 
  
   margin: 4% 0% 0% 25%
   width: 40em
.iconPenRight
  margin-right: 60px
  
  text-align: left

.competencesDroite1
  @media only screen and (max-width : 475px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 800px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 1050px) 
   display: bloc
   width: 300px
.competencesDroite2
  @media only screen and (max-width : 475px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 800px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 1050px) 
   display: bloc
   width: 300px
.competencesDroite3
  @media only screen and (max-width : 475px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 800px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 1050px) 
   display: bloc
   width: 300px
.competencesDroite4
  @media only screen and (max-width : 475px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 800px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 1050px) 
   display: bloc
   width: 300px
.competencesDroite5
  @media only screen and (max-width : 475px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 800px)
   position: relative
   width: 100%
   height: 120px
   margin-left: 27%
   display: bloc
   width: 300px
   margin-top: 4%
   position: relative
  @media only screen and (min-width : 1050px) 
   display: bloc
   margin-left: 0px
   width: 300px
.svg-inline--fa.fa-laptop-code.fa-w-20.fa-null.fa-rotate-null.fa-pull-null
  @media only screen and (max-width : 475px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%

  @media only screen and (min-width : 800px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%
  @media only screen and (min-width : 1050px) 
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   left: -5%
   top: 2
  
.svg-inline--fa.fa-laptop-code.fa-w-20.fa-null.fa-rotate-null.fa-pull-null:hover
  color: rgba(89, 23, 212, 0.938)
  font-size: 50px
  padding: 0.2em
  border: thin solid  #6b787911
  border-radius: 100px
  background-color:  #94909cef
  margin: 0% 30% 0% 0%
.svg-inline--fa.fa-photo-video.fa-w-20.fa-null.fa-rotate-null.fa-pull-null
  @media only screen and (max-width : 475px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%

  @media only screen and (min-width : 800px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%
  @media only screen and (min-width : 1050px) 
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   margin: 0% 40% 0% 0%
   position: absolute
   left: -5%
   top: 2%

.svg-inline--fa.fa-photo-video.fa-w-20.fa-null.fa-rotate-null.fa-pull-null:hover

  color: rgba(89, 23, 212, 0.938)
  font-size: 50px
  padding: 0.2em
  border: thin solid  #6b787911
  border-radius: 100px
  background-color: #94909cef
  margin: 0% 30% 0% 0%
.svg-inline--fa.fa-camera-retro.fa-w-16.fa-null.fa-rotate-null.fa-pull-null
  @media only screen and (max-width : 475px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%

  @media only screen and (min-width : 800px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%
  @media only screen and (min-width : 1050px) 
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   margin: 0% 40% 0% 0%
   position: absolute
   left: -5%
   top: 2%
.svg-inline--fa.fa-camera-retro.fa-w-16.fa-null.fa-rotate-null.fa-pull-null:hover

  color: rgba(89, 23, 212, 0.938)
  font-size: 50px
  padding: 0.2em
  border: thin solid  #6b787911
  border-radius: 100px
  background-color: #94909cef
  margin: 0% 30% 0% 0%

.svg-inline--fa.fa-thumbs-up.fa-w-16.fa-null.fa-rotate-null.fa-pull-null
  @media only screen and (max-width : 475px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%


  @media only screen and (min-width : 800px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%
  @media only screen and (min-width : 1050px) 
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   margin: 0% 40% 0% 0%
   position: absolute
   left: -5%
   top: 2%
.svg-inline--fa.fa-thumbs-up.fa-w-16.fa-null.fa-rotate-null.fa-pull-null:hover
  color: rgba(89, 23, 212, 0.938)
  font-size: 50px
  padding: 0.2em
  border: thin solid  #6b787911
  border-radius: 100px
  background-color: #94909cef
  margin: 0% 30% 0% 0%

.svg-inline--fa.fa-music.fa-w-16.fa-null.fa-rotate-null.fa-pull-null
  @media only screen and (min-width : 475px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%

  @media only screen and (min-width : 800px)
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911 
   position: absolute
   left: 85%
   top: -15%
  @media only screen and (min-width : 1050px) 
   color: #32A1CE
   font-size: 50px
   padding: 0.2em
   border: thin solid  #6b787911
   border-radius: 100px
   background-color: #6b787911
   margin: 0% 40% 0% 0%
   position: absolute
   left: -5%
   top: 2%
.svg-inline--fa.fa-music.fa-w-16.fa-null.fa-rotate-null.fa-pull-null:hover
  color: rgba(89, 23, 212, 0.938)
  font-size: 50px
  padding: 0.2em
  border: thin solid  #6b787911
  border-radius: 100px
  background-color: #94909cef
  margin: 0% 30% 0% 0%
.scenarisationDroite
  @media only screen and (min-width : 800px)
   width: 100%
  @media only screen and (min-width : 1050px)
   width: 100%
   display: flex
   text-align: left