
      
.iconDrone 
  
  @media only screen and (min-width : 200px) 
   width: 20em
   margin: 0% 0% 0% 0%
   padding-top: 20px
   padding-left: 0px
   display: block
  
  
  @media only screen and (min-width : 375px) 
   width: 22.5em
   margin: 0 auto
   padding-top: 20px
   
   display: block
  @media only screen and (min-width : 550px) 
   width: 30em
   margin: 0 auto
   padding-top: 20px
  
   display: block
  @media only screen and (min-width : 900px)
   width: 50em
   margin: 0 auto
   padding-top: 20px
   padding-left: 0px
   display: block
  @media only screen and (min-width : 1050px)
   width: 60em
   margin: 0 auto
   padding-top: 20px
   padding-left: 50px
   display: block
  @media only screen and (min-width : 1360px)
   width: 70em
   margin: 0 auto
   padding-top: 20px
   padding-left: 70px
   display: block
    


#quisommesnous
  background-color: #4b4a55
  @media only screen and (min-width : 200px) 
   width: 100%
   height: 2200px
  @media only screen and (min-width : 375px)
   width: 100%
   height: 1930px
  @media only screen and (min-width : 900px)
   width: 100%
   height: 1000px
  @media only screen and (min-width : 1050px)
   width: 100%
   height: 1200px
   

.textPresentation1
  @media only screen and (min-width : 200px) 
   width: 15em
   height: 15em
   margin: 0 auto
   position: relative
  
  
  @media only screen and (min-width : 375px) 
   width: 18em
   height: 15em
   margin: 0 auto
   position: relative
  

  @media only screen and (min-width : 550px) 
   width: 18em
   height: 15em
   margin: 0 auto
   position: relative
 
  @media only screen and (min-width : 900px)
   width: 15em
   height: 15em
   margin: 0% 2% 0% 0%
   position: relative
  
  @media only screen and (min-width : 1050px)
   width: 18em
   height: 15em
   margin: 0% 0.8% 0% 2.5%
   position: relative
   
  @media only screen and (min-width : 1360px) 
   width: 25em
   margin: 0% 1.5% 0% 7%
   position: relative
   height: 20em

.textPresentation2
  @media only screen and (min-width : 200px) 
   width: 15em
   height: 15em
   margin: 410px auto
   position: relative
  @media only screen and (min-width : 375px) 
   width: 18em
   height: 8em
   margin: 400px auto
   position: relative
  @media only screen and (min-width : 550px) 
   width: 18em
   height: 8em 
   margin: 400px auto
   position: relative
    
  @media only screen and (min-width : 900px) 
   width: 15em
   margin: 0% 2.5% 0% 0%
   position: relative
   height: 20em    
  @media only screen and (min-width : 1050px)
   width: 18em
   margin: 0% 2.5% 0% 2.5%
   position: relative
   height: 20em
  @media only screen and (min-width : 1360px) 
   width: 25em
   margin: 0em 1.5% 0% 0%
   position: relative
   height: 20em

.textPresentation3
  @media only screen and (min-width : 200px) 
   width: 15em
   height: 15em
   margin: 410px auto
   position: relative
  @media only screen and (min-width : 375px) 
   width: 18em
   height: 15em
   margin: 250px auto
   position: relative
  
  @media only screen and (min-width : 550px) 
   width: 18em
   margin: 0px auto
   position: relative
   height: 15em
  @media only screen and (min-width : 900px) 
   width: 15em
   margin: 0% 0% 0% 0%
   position: relative
   height: 20em    
  
  
  @media only screen and (min-width : 1050px)
   width: 18em
   margin: 0% 0% 0% 0%
   position: relative
   height: 20em
  
  @media only screen and (min-width : 1360px) 
   width: 25em
   margin: 0em 5% 0% 0%
   position: relative
   height: 20em

.photosPresentations
  
  
  @media only screen and (min-width : 200px)
   display: block
 
  @media only screen and (min-width :900px)
   display: flex
   margin: 0% 0% 0% 0%
   justify-content: center

.borisBateau
  border-top: 5px solid #006D80
  border-left: 5px solid #006D80
  border-right: 5px solid #006D80
  position: relative
  @media only screen and (min-width : 200px)
   width: 15em
   height: 15em
   position: relative
  
  @media only screen and (min-width : 375px)
   width: 18em
   height: 15em
   margin: 0% 2% 0% 0%
   position: relative
  @media only screen and (min-width : 900px) 
   width: 15em
   height: 15em
   margin: 0% 2% 0% 0%
   position: relative
  @media only screen and (min-width : 1050px)
   width: 18em
   position: relative
   height: 18em
   margin: 0% 5% 0% 0%
  @media only screen and (min-width : 1360px) 
   width: 25em
   height: 20em
   margin: 0% 2% 0% 0%
   position: relative


  
.borisPhotocarre
  border-top: 5px solid #006D80
  border-left: 5px solid #006D80
  border-right: 5px solid #006D80
  @media only screen and (min-width : 200px)
   width: 15em
   height: 15em
   position: relative
  @media only screen and (min-width : 375px)
   width: 18em
   height: 15em
   position: relative
   
  @media only screen and (min-width : 900px) 
   width: 15em
   height: 15em
   position: relative
   margin: 0em 0% 0% 0%
  @media only screen and (min-width : 1050px)
   width: 18em
   height: 18em
   position: relative
   margin: 0em 0% 0% 0%
  @media only screen and (min-width : 1360px)
   width: 25em
   height: 20em
   margin: 0em 10% 0% 0%
   position: relative



.borisDrone
  border-top: 5px solid #006D80
  border-left: 5px solid #006D80
  border-right: 5px solid #006D80
  position: relative
  @media only screen and (min-width : 200px)
   width: 15em
   height: 15em
   position: relative
  @media only screen and (min-width : 375px)
   width: 18em
   height: 15em
   position: relative
   margin: 0em 0% 0% 0%
  @media only screen and (min-width : 900px)
    width: 15em
    height: 15em
    position: relative
    margin: 0% 0% 0% 0%
  @media only screen and (min-width : 1050px)
   width: 18em
   height: 18em
   position: relative
   
   margin: 0% 0% 0% 2%
  @media only screen and (min-width : 1360px)
    width: 25em
    height: 20em
    position: relative
    margin: 0% 0% 0% 0%

    
    


.quitexte
  
  @media only screen and (min-width : 200px) 
   font-family: 'TeXGyreAdventorRegular'
   font-size: 60px
   font-weight: 600
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   position: absolute
   top: 230px
   left: 0px
   margin-bottom: 10px

  @media only screen and (min-width : 800px)
   font-family: 'TeXGyreAdventorRegular'
   font-size: 60px
   font-weight: 600
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   position: absolute
   top: 230px
   left: 0px
   margin-bottom: 10px
   
  @media only screen and (min-width : 1050px)
   font-family: 'TeXGyreAdventorRegular'
   font-size: 75px
   font-weight: 600
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   position: absolute
   top: 275px
   left: 0px
   margin-bottom: 10px
   
  @media only screen and (min-width : 1360px) 
   
   font-family: 'TeXGyreAdventorRegular'
   font-size: 75px
   font-weight: 600
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   position: absolute
   top: 306px
   left: 0px
   

.quitexte:hover
  
  
  color: rgb(17, 172, 233)
  

.sommestexte
  @media only screen and (min-width : 200px)
   font-family: 'TeXGyreAdventorRegular'
   font-size: 60px
   font-weight: 600
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   position: absolute
   top: 230px
   left: 0px  
  @media only screen and (min-width : 800px) 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 60px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   margin-bottom: 10px
   display: flex
   position: absolute
   top: 230px
   left: 0px 
  
  @media only screen and (min-width : 1050px)
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 75px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   margin-bottom: 10px
   display: flex
   position: absolute
   top: 275px
   left: 0px 
   
  @media only screen and (min-width : 1360px) 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 75px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#ada30a
   font-weight: bold
   margin-bottom: 10px
   display: flex
   position: absolute
   top: 306px
   left: 0px

.sommestexte:hover
   
   color: rgb(17, 172, 233)
  
.noustexte
  @media only screen and (min-width : 200px)
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 60px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #ada30a
   position: absolute
   top: 230px
   left: 0px
   font-weight: bold
  
  @media only screen and (min-width : 800px)
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 60px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #ada30a
   position: absolute
   top: 230px
   left: 0px
   font-weight: bold
       
     
  @media only screen and (min-width : 1050px) 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 75px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #ada30a
   position: absolute
   top: 275px
   left: 0px
   font-weight: bold
       

  @media only screen and (min-width : 1360px) 
   font-family: 'TeXGyreAdventorRegular'
   font-size: 75px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #ada30a
   position: absolute
   top: 306px
   left: 0px
   font-weight: bold
   
  

.noustexte:hover
 
  color:  rgb(17, 172, 233)
  
  
.smallTitrePresentation1
  
  @media only screen and (min-width : 200px) 
   display: flex
   margin: 9% 0% 0% 20% 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   ont-style: normal
   font-size: 25px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 30px
   color: #8F2268
   font-weight: bold
   margin-bottom: 20px
   
  @media only screen and (min-width : 800px)
   display: flex
   margin: 9% 0% 0% 20% 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   ont-style: normal
   font-size: 25px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 30px
   color: #8F2268
   font-weight: bold
   margin-bottom: 20px
  @media only screen and (min-width : 1050px) 
   display: flex
   margin: 7% 0% 0% 32% 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   ont-style: normal
   font-size: 30px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 30px
   color: #8F2268
   font-weight: bold
   margin-bottom: 20px

.smallTitrePresentation2
  
  @media only screen and (min-width : 200px) 
   margin: 0px 0% 0% 18% 
   font-family: 'TeXGyreAdventorRegular'
   font-size: 25px
   font-weight: 600
   height: 30px
   line-height: 40px
   color:  #8F2268
   font-weight: bold
  
  @media only screen and (min-width : 800px)
   margin: 0px 0% 0% 18% 
   font-family: 'TeXGyreAdventorRegular'
   font-size: 25px
   font-weight: 600
   height: 30px
   line-height: 40px
   color:  #8F2268
   font-weight: bold
  @media only screen and (min-width : 1050px) 
   margin: 0px 0% 0% 30% 
   font-family: 'TeXGyreAdventorRegular'
   font-size: 30px
   font-weight: 600
   height: 30px
   line-height: 40px
   color:  #8F2268
   font-weight: bold
 
.smallTitrePresentation3
  
  @media only screen and (min-width : 200px) 
   margin: 0% 0% 0% 16px 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 25px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 40px
   color: #8F2268
   font-weight: bold
  
  
  @media only screen and (min-width : 800px)
   margin: 0% 0% 0% 16px 
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 25px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 40px
   color: #8F2268
   font-weight: bold
    
  
  margin-bottom: 10px
  @media only screen and (min-width : 1050px) 
   margin: 0% 0% 0% 16px 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 30px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #8F2268
  font-weight: bold
    
  
  margin-bottom: 10px

.videoTitle
  @media only screen and (max-width : 200px)
   margin: 0% 0% 0% 0%
  
  @media only screen and (min-width : 200px) 

   margin: 0% 0% 20em 10%
  

.conseilsTitle 
  @media only screen and (max-width : 200px)
   margin: 0% 0% 0% 10%
  
  @media only screen and (min-width : 200px) 

   margin: 20px 0em 0% 10%
   height: 20px
   display: inline-block
.droneTitle 
  @media only screen and (max-width : 200px)
   margin: 0% 0% 0% 5%
  
  @media only screen and (min-width : 200px) 

   margin: 20px 0em 0% 5%
   height: 20px
   display: inline-block
.videoTitleText
  color: #E5E5E5
  font-weight: 400
  font-family: "Raleway"
  line-height: 24.99px
  text-align: left
  @media only screen and (min-width : 200px) 
   width: 200px
   font-size: 14px
   text-align: left
   margin: 0% 0% 0% 15%
  @media only screen and (min-width : 375px) 
   width: 300px
   font-size: 14px
   text-align: left
   margin: 0% 0% 0% 0%
  @media only screen and (min-width : 900px)
   width: 220px
   font-size: 14px
   margin: 30px 1% 0% 5%
  @media only screen and (min-width : 1050px) 
   width: 24rem
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   margin: 30px 1% 0% 0%

.conseilsTitleText
  color: #E5E5E5
  font-weight: 400
  font-family: "Raleway"
  line-height: 24.99px
  text-align: left
  
  @media only screen and (min-width : 200px) 
   width: 200px
   font-size: 14px
   text-align: left
   margin: 30px 0% 0% 15%
  
  @media only screen and (min-width : 375px) 
   width: 300px
   font-size: 14px
   text-align: left
   margin: 30px 1% 0% 0%
  @media only screen and (min-width : 900px)
   width: 220px
   font-size: 14px
   margin: 52px 1% 0% 0%
  @media only screen and (min-width : 1050px) 
   width: 25rem
   font-size: 16px
   text-align: left
   margin: 50px 0% 0% 0%
   
.dronesTitleText
  color: #E5E5E5
  font-weight: 400
  font-family: "Raleway"
  line-height: 24.99px
  text-align: left
  @media only screen and (min-width : 200px) 
   max-width: 200px
   font-size: 14px
   text-align: left
   margin: 30px 0% 0% 15%
  @media only screen and (min-width : 375px)
   max-width: 300px
   font-size: 14px
   text-align: left
   margin: 50px 0% 10% 0%
  
  @media only screen and (min-width : 900px)
   max-width: 15rem
   font-size: 14px
   margin: 50px 1% 0% 5%
  @media only screen and (min-width : 1050px) 
   max-width: 35rem
   font-size: 16px
   margin: 50px 0% 0% 5%
