
.iconeMontagne
  @media only screen and (max-width : 475px) 
  
   width: 70%
   margin: 15% 0% 3% 15%
  @media only screen and (min-width : 475px)
    width: 60em
    margin: 5% 0% 3% 24%
      
.iconDrone 
  @media only screen and (max-width : 475px) 
  
   width: 70%
   margin: 15% 0% 3% 15%
  @media only screen and (min-width : 475px)
    width: 90em
    margin: 7% 0% 0% 26%

#quisommesnous
  @media only screen and (max-width : 475px) 
   width: 100%
   height: 2000px
   background-color: #a08888

  @media only screen and (min-width : 475px)
   width: 100%
  height: 1500px
  background-color: #474040

.presentationAgenceServices1
  
  

  @media only screen and (max-width : 475px) 
   
   font-family: "Roboto", Sans-serif
   text-align: center
   letter-spacing: 3px
   font-size: 0.6em
   margin: 0.1em 2em 1em 2em
   
 
  @media only screen and (min-width : 475px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   font-family: "Roboto", Sans-serif
   margin: 1.5% 0% 0% 40%
   font-size: 0.8em

.presentationAgenceServices2
  
  

  @media only screen and (max-width : 475px) 
   
   font-family: "Roboto", Sans-serif
   text-align: center
   letter-spacing: 3px
   font-size: 0.6em
   margin: 0.1em 2em 1em 2em
   
 
  @media only screen and (min-width : 475px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   font-family: "Roboto", Sans-serif
   margin: 1% 2% 0% 39.5%
   font-size: 0.8em

.presentationAgenceServices3
  
  @media only screen and (max-width : 475px) 
   
   font-family: "Roboto", Sans-serif
   text-align: center
   letter-spacing: 3px
   font-size: 0.6em
   margin: 0.1em 2em 1em 2em
   
 
  @media only screen and (min-width : 475px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   font-family: "Roboto", Sans-serif
   margin: 1% 2% 2% 45%
   font-size: 0.8em


.photosPresentations
  @media only screen and (max-width : 475px)and (min-width :)
   display: block
  @media only screen and (max-width : 770px)
   display: block
  @media only screen and (min-width : 780px)
   display: flex
   margin: 0% 0% 0% 5%
.borisBateau
  
  @media only screen and (max-width : 475px) 
   
   width: 20em
   height: 20em
   margin: 10% 2% 0% 7%
   
  @media only screen and (min-width : 475px) 
    width: 25em
    height: 20em
    margin: 0% 2% 0% 22%
    float: left

  .textPresentation1
    margin: 0% 0% 0% 10%

  
.borisPhotocarre
  @media only screen and (min-width : px)
   width:  10%
   height: 20em
  @media only screen and (max-width : 475px) 
   
   width: 20em
   height: auto
   margin: 0% 2% 0% 8%
   
  @media only screen and (min-width : 475px)
   width: 25em
   height: 20em
   margin: 0% 8em 0% 42%
    



.borisDrone
  @media only screen and (max-width : 475px)
    width: 20em
    height: auto
    margin: 0% 0% 0% 8%
    
  @media only screen and (min-width : 475px)
    width: 25em
    height: 20em
    margin: 0% 21em 0% 0%


.quitexte
  @media only screen and (max-width : 475px) 
   
   margin: 0px 0% 5% 29px
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #1bb6e6 
   font-weight: bold
   margin-bottom: 10px
   //display: flex
   position: relative

  @media only screen and (min-width : 475px) 
   margin: 0% 0% 5% 220px
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#bee581
   font-weight: bold
   display: flex
   
   position: relative
   margin-bottom: 10px

.quitexte:hover
  margin: 0% 0% 5% 220px
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 55px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 1px
  color: rgb(17, 172, 233)
  font-weight: bold
  display: flex
  position: relative
  margin-bottom: 10px

.sommestexte
  @media only screen and (max-width : 475px) 
   margin: 0px 0% 0% 6%
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #bee581
   font-weight: bold
   margin-bottom: 10px
   //display: flex
   position: relative

  
  
  @media only screen and (min-width : 475px) 
  
   
   
   margin: 320px 0px 5% 110px
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#bee581
   font-weight: bold
   margin-bottom: 10px
   display: flex
   position: relative

.sommestexte:hover
   margin: 320px 0px 5% 110px
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: rgb(17, 172, 233)
   font-weight: bold
   margin-bottom: 10px
   display: flex
   position: relative
.noustexte
  @media only screen and (max-width : 475px)
   margin: 0% 0% 5% 7%
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normalr
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color: #dd9933 
   font-weight: bold
   margin-bottom: 10px
   //display: flex

  @media only screen and (min-width : 475px) 
   
   margin: 0% 0% 0% 0px
   font-family: 'TeXGyreAdventorRegular'
   font-weight: normal 
   font-style: normal
   font-size: 55px
   font-weight: 600
   text-transform: none
   letter-spacing: 0px
   height: 30px
   line-height: 1px
   color:#bee581
   font-weight: bold
   margin-bottom: 10px
   display: flex
.noustexte:hover
  margin: 0% 0% 0% 0px
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 55px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 1px
  color:  rgb(17, 172, 233)
  font-weight: bold
  margin-bottom: 10px
  display: flex
  
.smallTitrePresentation1
  
  @media only screen and (max-width : 475px) 
   
   margin: 0% 0% 0% 9% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
  //display: flex
   
  
  @media only screen and (min-width : 475px) 
  
   display: flex
  margin: 0% 0% 0% 42% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
 
   
  
  margin-bottom: 10px

.smallTitrePresentation2
  
  @media only screen and (max-width : 475px) 
   
   margin: 0% 0% 0% 0% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
  //display: flex
   
  
  @media only screen and (min-width : 475px) 
  
   display: flex
  margin: 0% 0% 0% 20% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
 
.smallTitrePresentation3
  
  @media only screen and (max-width : 475px) 
   
   margin: 0% 0% 0% 0% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
  //display: flex
   
  
  @media only screen and (min-width : 475px) 
  
   display: flex
  margin: 0% 0% 0% 0% 
 
  font-family: 'TeXGyreAdventorRegular'
  font-weight: normal 
  font-style: normal
  font-size: 15px
  font-weight: 600
  text-transform: none
  letter-spacing: 0px
  height: 30px
  line-height: 40px
  color: #dd9933 
  font-weight: bold
    
  
  margin-bottom: 10px

.videoTitle
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 0%
  
  @media only screen and (min-width : 475px) 

   margin: 0% 0% 20em 0%
  

.conseilsTitle 
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 10%
  
  @media only screen and (min-width : 475px) 

   margin: 0px 0em 0% 0%
   
  
  
//.textPresentation1
  @media only screen and (max-width : 475px) 
   display: flex
   margin: 0% 0px 0% 0%
  @media only screen and (min-width : 475px) 
   display: block

.videoTitleText
  @media only screen and (max-width : 475px) 
   width: 300px
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 5% 0% 0% 9%
  @media only screen and (min-width : 475px) 
   
   width: 400px
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 0% 0% 0% 42%

.conseilsTitleText
  @media only screen and (max-width : 475px)
   
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 5% 0% 10% 10%
  @media only screen and (min-width : 475px) 
   width: 400px
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 1em 0% 0% 109px
   
  @import src/styles/vars 

.dronesTitleText
  @media only screen and (max-width : 475px)
   width: 300px
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 0% 0% 0% 10%
  @media only screen and (min-width : 475px) 
   width: 470px
   color: #E5E5E5
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-family: "Raleway"
   line-height: 24.99px
   text-transform: none
   letter-spacing: 0px
   text-align: left
   margin: 0% 0% 0% 0%