@import src/styles/vars

.mainVideoContainer
  @media only screen and (max-width : 200px)
   position: relative
  @media only screen and (min-width : 200px)
   position: relative 
.presentationAgenceTitle
  letter-spacing: 0.2rem
  text-transform: uppercase
  display: inline
  font-family: 'News Cycle', sans-serif
  line-height: 21px
  color: #ffffff
  font-weight: 700
  text-shadow: black 0.1em 0.1em 0.1em
  position: absolute
  padding-top: 2.5em
  transform: translate(-50%, -50%)
  z-index: 3
  @media only screen and (min-width : 200px)
   width: 10em
   font-size: 1.5em
   top: 15% 
   left: 55% 
   
  @media only screen and (min-width : 350px)
   width: 15em
   font-size: 1.5em
   top: 15% 
   left: 55%
  @media only screen and (min-width : 550px)
   width: 15em
   font-size: 2em
   padding-top: 2.5em
   top: 15% 
   left: 55% 

  @media only screen and (min-width : 800px) 
   width: 13em
   font-size: 5em
   padding-top: 2.5em
   font-size: 56px
   top: 15% 
   left: 55% 
  @media only screen and (min-width : 1050px) 
   font-size: 5em
   font-size: 56px
   top: 15% 
   left: 53% 
   

     
.logoBorisNoir
  @media only screen and (min-width : 200px) 
   width: 10rem
   display: inline-block
   
   position: absolute
   top: 40% 
   left: 50% 
   transform: translate(-50%, -50%)
   z-index: 3
   height: auto
   margin: 0 auto 
   overflow: hidde
  @media only screen and (min-width : 600px) 
   width: 28rem
   display: inline-block
   
   position: absolute
   top: 40% 
   left: 50% 
   transform: translate(-50%, -50%)
   z-index: 3
   height: auto
   margin: 0 auto 
   overflow: hidden
.NomBoris
  @media only screen and (max-width : 200px)
   text-transform: uppercase
   position: absolute
   font-family: "Roboto",sans-serif
   letter-spacing: 15px

   font-size: 3rem
   z-index: 3
   top: 560px
   left: 40%
  @media only screen and (min-width : 200px)
   text-transform: uppercase
   position: absolute
   top: 55% 
   left: 50% 
   transform: translate(-50%, -50%)
   font-family: "Roboto",sans-serif
   letter-spacing: 15px
   line-height: 3px 
   font-size: 3rem
   z-index: 3
   

.ensavoirplus
  @media only screen and (max-width : 200px) 
   display: none
  

  @media only screen and (min-width : 200px)
   width: 12.5rem
   height: 50px
   display: inline-block
   
   position: absolute
   top: 80% 
   left: 50% 
   transform: translate(-50%, -50%)
   z-index: 3
   white-space: nowrap
   font-size: 15px
   line-height: 17px
   font-weight: 500
   color: rgb(255, 255, 255)
   letter-spacing: 2px
   font-family: "Roboto"
   text-transform: uppercase
   background-color: rgba(0, 0, 0, 0.75)
   border-radius: 3px
   padding: 18px 40px 0px 30px

.ensavoirplus:hover
  background-color: rgba(224, 215, 215, 0.75)

.iframeHome 
  background-color: black



