@import src/styles/vars

.contact
  height: 100%
  width: 100% 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding-bottom: 60%
  
  
strong
  
  font-size: 1em


.form
  height: 21em
  width: 18.5em
  padding: 1em
  box-shadow: 0px 0px 150px 30px #113666 
  margin: 5em
  text-shadow: 0 1px 0 #eee,0 2px 0 #e5e5e5,-1px 3px 0 #C8C8C8,-1px 4px 0 #C1C1C1,-2px 3px 0 #B9B9B9,-2px 3px 0 #B2B2B2,-2px 3px 2px rgba(0,0,0, 0.6),-2px 3px 3px rgba(0,0,0, 0.2),-2px 3px 3px rgba(0,0,0, 0.4)
  
  
.tel
  text-shadow: 0 0 10px #7ff37bf8
.mail 
  text-shadow: 0 0 10px #59e7f1f8

.row
  color: white
  font-weight: bold
  font-size: 2em

.backgroungImage
  height: 100em

.coordonnées
  color: white
  font-weight: bold
  font-size: 2em
  box-shadow: 0px 0px 150px 30px #113666 
  padding: 0.5em
  width: 15em
  height: 6em
  text-shadow: 0 0 10px #000000f8

#name
  color: white

.logoBorisNoir3
  display: flex
  height: auto
  width: 100%
  overflow: visible
  justify-content: center
  padding-top: 2em

.presentationAgenceTitle1
  letter-spacing: .2rem
  text-transform: uppercase
  margin-top: 3%
  padding-top: 1.5em
  font-family: 'News Cycle', sans-serif
  font-size: 56px
  font-size: 3em
  line-height: 21px
  color: #ffffff
  font-weight: 700
  display: flex
  
  justify-content: center
  display: block
  box-sizing: inherit
