@import src/styles/vars

.contact
  height: 500px
  width: 100% 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  

.form
  height: 21em
  width: 18.5em
  padding: 1em
  box-shadow: 0px 0px 150px 30px #113666 
  

.row
  color: white
  font-weight: bold
  font-size: 2em

.backgroungImage
  height: 100em

.coordonnées
  color: white
  font-weight: bold
  font-size: 2em

#name
  color: white