@import src/styles/vars



.header

  
  background: $header-color
  
  

  height: 300px
  width: 600px

.logoWhite

  margin: 2em 0em 0em 6em
  
.AgencyName
  margin: 0em 0em 0em 3.5em
 
  font-size: 2em
  letter-spacing: 0.3em
  
  text-transform: uppercase
  font: 300 2em/1.3em Butler, sans-serif
  


.ownerName

  font-size: 0.8em
  margin: 0em 0em 0em 6em
  font-family: 'Turret Road', cursive
  font-size: 1.5em
