@import src/styles/vars



.header

  
  width: 100%
  background:  #CEC4C4
  border-bottom: 3px solid  #D5A6BD
  @media only screen and (max-width : 640px) 
   width: 100%
   height: 5em

    
  @media only screen and (min-width : 640px) 
   width: 100%
   height: 5em
   position:
   opacity: 0.5
   position: fixed



.navMenu
  
  margin-left: 24%
  margin-top: 1em
  
  display: inline-block
  font-size: 1.5em
  font-family: "Roboto", Sans-serif
  color: #6d8397ed
  
 

.logoWhite
 
  
  @media only screen and (max-width : 640px) 
  
   margin: 2% 0% 0% 1%
   width: 5em

    
  @media only screen and (min-width : 640px) 
   
   margin: 0.8% 0% 0% 1%
   //background-color: #D5A6BD
   padding: 0em
   //border: 2px solid #7F7F7F
   border-radius: 50px
   width: 5em
   position: fixed
   background: rgba(0, 0, 0, 0.4)
   



.burgerIcon

  font-size: 2.5em
  
  color: #D5A6BD 
  
  @media only screen and (max-width : 640px) 
  
   margin: 5% 0% 0% 70%


    
  @media only screen and (min-width : 640px) 
   
   display: none

.burgerIcon:hover
  
  @media only screen and (max-width : 640px) 
  
   color: white

.presentationAgenceTitle
  font-family: "Roboto", Sans-serif
  

  
  @media only screen and (max-width : 640px) 
   
   
   font-size: 0.85em
   letter-spacing: 7px
   margin: 5% 2% 2% 2%
   text-align: center
 
  @media only screen and (min-width : 640px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   margin: 5% 2% 2% 30%
   font-size: 3em
   position: absolute

.hautesAlpesTitle
  


  @media only screen and (max-width : 640px) 
   
   font-family: "Roboto", Sans-serif
   font-size: 0.8em
   letter-spacing: 7px
   margin: 3% 2% 2% 35%
   
 
  @media only screen and (min-width : 640px) 
   letter-spacing: 0.2rem
   text-transform: uppercase
   font-family: "Roboto", Sans-serif
   margin: 8% 2% 2% 42%
   font-size: 2em
   position: absolute