



.header

  
  width: 100%
  //background:  #CEC4C4
  background-color: #2c2c38ab
  border-bottom: 1.5px solid  #D5A6BD
  @media only screen and (max-width : 640px) 
   width: 100%
   height: 5em

    
  @media only screen and (min-width : 640px) 
   width: 100%
   height: 6em
 
   
   position: fixed
   hoverflow: hidden
   z-index: 999



.navMenu
  
  margin-left: 24%
  margin-top: 1.5em
  
  display: inline-block
  font-size: 1.5em
  font-family: "Roboto", Sans-serif
  color: #6d8397ed
  
 

.logoWhite
 
  
  @media only screen and (max-width : 640px) 
  
   margin: 2% 0% 0% 1%
   width: 5em

    
  @media only screen and (min-width : 640px) 
   
   margin: 1.5% 0% 0% 1%
   //background-color: #D5A6BD
   padding: 0em
   //border: 2px solid #7F7F7F
   border-radius: 50px
   width: 6em
   position: fixed
   
  
   



.svg-inline--fa.fa-bars.fa-w-14.fa-null.fa-rotate-null.fa-pull-null.burgerIcon

  font-size: 2.5em
  
  color: #D5A6BD 
  
  @media only screen and (max-width : 640px) 
  
   margin: 5% 0% 0% 250px
  @media only screen and (min-width : 640px) 
   
   display: none
.svg-inline--fa.fa-window-close.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.burgerCross

  font-size: 2.5em
  
  color: #D5A6BD 
  
  @media only screen and (max-width : 640px) 
  
   margin: 5% 0% 0% 240px

    
  @media only screen and (min-width : 640px) 
   
   display: none

.svg-inline--fa.fa-bars.fa-w-14.fa-null.fa-rotate-null.fa-pull-null.burgerIcon:hover
  
  @media only screen and (max-width : 640px) 
  
   color: white

