.slick-slider
 
  height: 600px
  background: #0948611c
  overflow: hidden
  @media only screen and (min-width : 200px)
   width: 10em
   font-size: 1.5em
  
   
  @media only screen and (min-width : 375px)
   width: 15em
   
  @media only screen and (min-width : 550px)
   width: 15em
   

  @media only screen and (min-width : 800px) 
   width: 13em
    
  @media only screen and (min-width : 1050px) 
   width: 100%

.slick-arrow.slick-next
    background-color: #083a4e
    width: 30px
    height: 40px
    margin-right: 26px
.slick-arrow.slick-prev
    background-color: #083a4e
    width: 30px
    height: 40px
    margin-left: 30px
    z-index: 9999
.slick-arrow.slick-prev:hover
    background-color: #15779e
.slick-arrow.slick-next:hover
    background-color: #15779e
.vidéo1
    margin: 0px 0px 0px 36px
   

.vidéo2
    margin: 0px 0px 0px 18px

.vidéo4
    margin: 0px 0px 0px 36px
.vidéo5
    margin: 0px 0px 0px 18px

.slick-dots.li.button
    color: #ee82ee
