.slick-slider
    width: 100%
    
    background: #094861

.slick-arrow.slick-next
    background-color: black
    width: 30px
    margin-right: 30px
.slick-arrow.slick-prev
    background-color: black
    width: 30px
    margin-left: 30px


.vidéo1
    margin: 0px 0px 0px 50px

.vidéo2
    margin: 0px 0px 0px 35px