// soucis d'affichage à 475px...
.errorMessage {
	font-size: small;
	color: red;
	font-style: italic;
}

@media (max-width: 475px) {
	.overAll {
	background-color: transparent;
	width: 100%;
	position: fixed;
	top: 20%;
	left: 20%;
	z-index: 2000;
}

.form__h1,
.overlay-panel {
	display: none;
}

.lost {
	font-size: 0.6em;
	font-style: italic;
}

.connexionForm {
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	height: 100%;
	text-align: center;
}

.form__input {
	background-color: #eee;
	padding: 0.2em;
	margin: 0.5em;
	width: 100%;
}

.form-container {
	margin: 0.5em 0.5em 2em 0.5em;
}

.form__button {
	position: absolute;
	right: 2em;
	border-radius: 10px;
	border: 1px solid #486892;
	background-color: #486892;
	color: #FFFFFF;
	padding: 0.2em;
	letter-spacing: 1px;
	font-size: 0.7em;
	text-transform: uppercase;
}

.create {
	top: 11.5em;
}

.connect {
	bottom: 2.5em;
}

.form-div-container {
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	width: 60%;
	height: 18em;
}
}

.close {
	margin: 0 2% 2% 60%;
	padding: 2% 3%;
	font-size: 1.2em;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	background-color: #486892;
}

.close:hover {
	border: 2px solid #b571c4;
	border-radius: 10px;
}

.errorBorder {
	border: 1px solid red;
}

.validBorder {
	border: 1px solid green;
}

@media (min-width: 476px) {
.overAll {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 28%;
	left: 30%;
	z-index: 2000;
}

.form__h1 {
	font-weight: bold;
	margin: 0;
}

.form__p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.lost {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.form__button {
	border-radius: 20px;
	border: 1px solid white;
	background-color: #486892;
	color: #FFFFFF;
	font-weight: bold;
	padding: 1em 3em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form__button:active {
	transform: scale(0.95)
}

.connexionForm {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.close {
	margin: 0 2% 2% 35%;
	padding: 0.2% 0.5%;
	font-size: 1.6em;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	background-color: #486892;
}

.form__input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-div-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 35%;
	min-height: 30em;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.form-div-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.form-div-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.form-div-container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	background: #486892;
	// background: -webkit-linear-gradient(to right, #486892, #486892)
	// background: linear-gradient(to right, #486892, #486892)
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.form-div-container.right-panel-active .overlay {
  	transform: translateX(50%)
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.form-div-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.form-div-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.create {
	margin-top: 1em;
}

.errorBorder {
	border: 1px solid red;
}

.validBorder {
	border: 1px solid green;
}

}