
@import src/styles/vars

html 
  position: relative

.blog-footer
  position: absolute
  padding: 2%
  background: $footer-bg
  color: invert($footer-bg)
  width: 100% 
  height: 5em
  bottom: -3%


.borisLogoBlanc
  width: 2% 
  height: auto
  margin-left: 95%
  margin-top: -100%
