
@import src/styles/vars

body 
  position: relative

.main-footer
  position: absolute
  top: 100%
  height: 6em
  position: relative
  padding: 2em
  background: $footer-bg
  color: invert($footer-bg)
  display: flex

.footer-logo
  position: absolute
  top: 1em
  right: calc(50% - 2.5em)
  width: 5em

.footer-link,
.footer-text
  padding: 0.5em

.footer-text
  position: absolute
  right: 2em
  