@import src/styles/vars

.stuffPictureContainer
  @media only screen and (max-width : 475px)
   width: 100%
   height: 200px

  @media only screen and (min-width : 475px) 
   width: 100%
   height: 550px

  
.equipement
  height: 500px

.stuffTitleContainer
  background-color: #282828
  width: 100% 
  height: 10em
.stuffContainer
  @media only screen and (max-width : 475px)
   background-color: #282828
   width: 100% 
   height: auto 
   

  @media only screen and (min-width : 475px) 
   background-color: #282828
   width: 100% 
   height: auto 
   display: flex

.stuffText
  @media only screen and (max-width : 475px)
   width: 60em
   color: white
   margin: 2.5% 0% 0% 25%
   font-style: normal
   font-weight: 600
   font-size: 12px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   

  @media only screen and (min-width : 475px) 
   width: 60em
   color: white
   margin: 2.5% 0% 0% 6%
   font-style: normal
   font-weight: 600
   font-size: 15px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
  

.stuffTitle
  @media only screen and (max-width : 475px)
   font-style: normal
   font-weight: 600
   font-size: 40px
   font-family: "texgyreadventorregular"
   line-height: 35px
   text-transform: none
   letter-spacing: 0px
   padding-top: 2%
   text-align: center
   color: white
   padding-top: 20px
   

  @media only screen and (min-width : 475px) 
   font-style: normal
   font-weight: 600
   font-size: 40px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   padding-top: 2%
   text-align: center
   color: white
  
  

.phantom
  @media only screen and (max-width : 475px)
   margin: 5% 0% 5% 13%
   border: 1px solid #ff5ccfd5
   

  @media only screen and (min-width : 475px) 
   margin: 12% 0% 15% 40%
   border: 1px solid #ff5ccfd5
  
.goproTitle
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 25px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: white
   

  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0% 5%
   font-style: normal
   font-weight: 600
   font-size: 40px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: white

.phantomTitle
  @media only screen and (max-width : 475px)
   margin: 0% 0% 0% 0%
   font-style: normal
   font-weight: 600
   font-size: 30px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: white
   

  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0% 5%
   font-style: normal
   font-weight: 600
   font-size: 40px
   font-family: "texgyreadventorregular"
   line-height: 25.65px
   text-transform: none
   letter-spacing: 0px
   color: white
  
  

.phantomTexte
  @media only screen and (max-width : 475px)
   margin: 4% 0% 0% 0%
   padding-bottom: 5%
   width: 100px

  @media only screen and (min-width : 475px) 

   margin: 4% 0% 0% 5%

.separationLigne2
  @media only screen and (max-width : 475px)
   border-bottom: thick double #32a1ce 
   width: 15em
   margin: 10% 0% 10px 23%
   

  @media only screen and (min-width : 475px) 
   border-bottom: thick double #32a1ce 
   width: 35em
   margin-top: 2% 
   margin-left: 35%
  
  
  
 
  