@import src/styles/vars

/**
 * Styles
 */



.nav

  margin-top: 3em
  margin-left: 10em

.nav-link
  text-align: center
  
  margin-left: 6%
  
  
  
  @media only screen and (max-width : 640px) 
  
   display: none

    
  @media only screen and (min-width : 640px) 
   
   
   font-size: 1.5em
   font-family: "Roboto", Sans-serif
   color: #6d8397ed
   margin-bottom: 4em

.nav-link:hover
  color: white
  
