@import src/styles/vars

/**
 * Styles
 */



.nav

  margin-top: 0em
  margin-left: 10em

.nav-link
  
  
  margin-left: 4%
  
  
  
  @media only screen and (max-width : 640px) 
  
    display: none

    
  @media only screen and (min-width : 640px) 
   
   
   font-size: 1em
   font-family: "Roboto", Sans-serif
   color: #6d8397ed
  
   

.nav-link:hover
  color: white
  
