@import src/styles/vars

.mainContainer
  background-color: #282828
.mainpictureContainer
  @media only screen and (max-width : 475px)
   width: 100%
   height: 200px
  @media only screen and (min-width : 475px) 
   width: 100%
   height: 550px

.mainPicture
  @media only screen and (max-width : 475px)
   width: 100%
   height: 200px
  @media only screen and (min-width : 475px) 
   width: 100%
   height: 300px
.presentationVideos
  font-family: 'TeXGyreAdventorRegular'
  font-weight: 600
  letter-spacing: 4px
  height: 30px
  line-height: 1px
  font-weight: bold
  color: #e2d2ce
  text-transform: uppercase
  text-align: center
  
  @media only screen and (min-width : 200px) 
   margin: 4% 0% 4% 0%
   font-size: 2em
   padding-top: 2.5em
  
  @media only screen and (min-width : 475px) 
   margin: 1.5% 0% 4% 0%
   font-size: 3em
   padding-top: 2.5em
  @media only screen and (min-width : 730px) 
   margin: 1.5% 0% 4% 0%
   font-size: 3em
   padding-top: 2.5em
  @media only screen and (min-width : 900px) 
   margin: 1.5% 0% 4% 0%
   font-size: 4em
   padding-top: 2.5em
  @media only screen and (min-width : 1050px) 
   margin: 1% 0% 1.8% 0%
   font-size: 4em
   padding-top: 2.5em


.presentationVideos2
  font-family: 'TeXGyreAdventorRegular'
  font-weight: 600
  letter-spacing: 4px
  height: 30px
  line-height: 1px
  font-weight: bold
  color: #e6bdb3
  @media only screen and (min-width : 200px) 
   font-size: 0.85em
   letter-spacing: 7px
   margin: 7% 2% 2% 2%
   text-align: center
  
  @media only screen and (min-width : 475px) 
   font-size: 0.85em
   letter-spacing: 7px
   margin: 5% 2% 2% 2%
   text-align: center
  @media only screen and (min-width : 900px) 
   letter-spacing: 0.2rem
   margin: 1.5% 0% 2% 50%
   font-size: 2em
   padding-top: 0.5em
  @media only screen and (min-width : 1050px) 
   letter-spacing: 0.2rem
   margin: 1.5% 0% 2% 22%
   font-size: 2em
   padding-top: 0.5em

.falseMargin
  width: 100%
  height: 2em
  background-color: #282828

 
.videoPresentContainer1
  @media only screen and (max-width : 475px) 
   background-color: #282828
   width: 100% 
   height: 100% 
  @media only screen and (min-width : 475px)
   background-color: #282828
   width: 100% 
   height: 620px 
   overflow: hidden
   display: flex
   position: relative
   z-index: 1
 
.videoPresentContainer2
  @media only screen and (max-width : 475px) 
   background-color: #282828
   width: 100% 
   height: 100% 
  @media only screen and (min-width : 475px)
   background-color: #282828
   width: 100% 
   height: 620px 
   overflow: hidden
   display: flex
   position: relative
   z-index: 1

.videoPresentContainer2Overlay
  @media only screen and (max-width : 475px) 
   background-color: #282828
   width: 100% 
   height: 100% 
  @media only screen and (min-width : 475px)
   background-color: #282828
   width: 100% 
   height: 620px
   display: flex
   margin-top: 70px
   position: relative
   z-index: 600
   

.videoPresentContainer3
  @media only screen and (max-width : 475px) 
   background-color: #282828
   width: 100% 
   height: 100% 
  @media only screen and (min-width : 475px)
   background-color: #282828
   width: 100% 
   height: 640px 
   overflow: hidden
   display: flex
   position: relative

.showReelContent
  
  font-family: 'TeXGyreAdventorRegular'
  color: #dd9933
  font-weight: 600
  @media only screen and (min-width : 200px)
   opacity: 1
   font-size: 70px
   height: 40px
   line-height: 70px
   margin: 0% auto
   width: 100%
  
  @media only screen and (min-width : 475px) 
   opacity: 1
   font-size: 70px
   height: 40px
   line-height: 70px
   margin: 0% auto
   width: 100%
  
  @media only screen and (min-width : 1370px) 
   opacity: 0
   font-size: 100px
   margin: 0% auto
   font-weight: 600
   height: 70px
   line-height: 70px 
   width: 100%
  
.showReelTitle
  @media only screen and (min-width : 200px)
   margin: 8% auto
   display: block
   text-align: center
  @media only screen and (min-width : 1370px)
   margin: 8% auto
   display: block
   text-align: center
.queyrasTitle
  @media only screen and (min-width : 200px)
   margin: 8% auto
   display: block
   text-align: center
  @media only screen and (min-width : 1370px)
   margin: 8% auto
   display: block
   text-align: center
.showReelContainer
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-bottom: 20px
   margin-left: auto
   margin-right: auto
  
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 4%
  
  @media only screen and (min-width : 800px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 4%
  @media only screen and (min-width : 1050px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 2%
  

  

.showReelContainer:hover .showReelContent
  
  @media only screen and (min-width : 200px)
   margin: 0% auto
   display: block
   text-align: center
  @media only screen and (min-width : 1050px) 
   opacity: 1
   margin: 0% auto
   transition: all 0.35s 0.1s linear


 
.showReel
  @media only screen and (max-width : 475px)
   width: 360px
   height: 300px
  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0% 0%
   width: 100% 
   height: 100%

.vp-target.hidden
  @media only screen and (max-width : 475px)
   width: 50em
   height: 50px
  @media only screen and (min-width : 475px) 
   width: 100%
   height: 100%

  
.showReelIframeContainer
  @media only screen and (max-width : 475px)
   width: 50px
   height: 50px
  @media only screen and (min-width : 475px) 
   width: 100%
   height: 100%
   

.showReelIframe 
  @media only screen and (max-width : 475px)
   width: 50px
   height: 50px
  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0% 0%
   hoverflow: hidden
   z-index: 900
   width: 100%
   height: 700px
   position: relative  

.queyrasIframe
  margin: 0% 100px 0% 0%
  transform: none 
  z-index: 900
  hoverflow: hidden

.vietnamIframe
  margin: 0% 0% 0% 0%

  hoverflow: hidden
  z-index: 900

.outdoormixIframe
  margin: 0% 100px 0% 0%
  transform: none 
  z-index: 900
  hoverflow: hidden
.fasboaIframe
  margin: 0% 100px 0% 0%
  transform: none 
  z-index: 900
  hoverflow: hidden
.indeIframe
  margin: 0% 100px 0% 0%
  transform: none 
  z-index: 900
  hoverflow: hidden

 
.queyrasContainer
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-bottom: 0px
   margin-left: auto
   margin-right: auto
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 50px


  
.queyrasContent
  opacity: 1
  font-family: 'TeXGyreAdventorRegular'
  font-weight: 600
  height: 20px
  line-height: 35px
  color: #32a1ce
  
  @media only screen and (min-width : 200px)
   width: 100%
   margin-left: auto
   margin-right: auto
   font-size: 30px
  @media only screen and (min-width : 475px)
   width: 100%
   margin-left: auto
   margin-right: auto
   font-size: 40px
  @media only screen and (min-width : 600px)
   width: 100%
   margin-left: auto
   margin-right: auto
   font-size: 40px
  @media only screen and (min-width : 1370px) 
   width: 100%
   margin-left: auto
   margin-right: auto
   margin-top: 20%
   opacity: 0
   font-size: 50px
   height: 30px
   line-height: 70px
   
  
.queyrasContainer:hover .queyrasContent
  @media only screen and (min-width : 200px) 
   opacity: 1
   margin: 0% auto
  
  @media only screen and (min-width : 800px) 
   opacity: 1
   margin: 20% auto
  @media only screen and (min-width : 1050px) 
   opacity: 1
   margin: 6% auto
 
  transition: all 0.35s 0.1s linear
.queyras
  @media only screen and (max-width : 475px)
   width: 400px
   height: 100px
  @media only screen and (min-width : 475px) 
   margin: 0% 0% 0% 0%
   width: 100% 
   height: 100%
 
  
.vietnamContent
  font-family: 'TeXGyreAdventorRegular'
  color: #dd9933
  @media only screen and (min-width : 200px)
   width: 200px
   opacity: 1
   font-size: 40px
   font-weight: 600
   
   line-height: 40px
   margin: 5% 0% 0% 25%
   padding-top: 2%
  
  @media only screen and (min-width : 800px)
   width: 300px
   opacity: 1
   font-size: 60px
   font-weight: 600
   height: 10px
   line-height: 60px
   margin: 0% 0% 0% 15%
   padding-top: 20%
  @media only screen and (min-width : 1370px) 
   width: 300px
   opacity: 0
   font-size: 80px
   font-weight: 600
   height: 30px
   line-height: 70px
   padding-top: 5%
  
  
.vietnamContainer
  
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-left: auto
   margin-right: auto
   margin-bottom: 15px
  
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 2%
   margin-right: 0%
  @media only screen and (min-width : 800px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 4%
   margin-right: 0%
  @media only screen and (min-width : 1050px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 2%
   margin-right: 0%
.vietnamContainer:hover .vietnamContent
  @media only screen and (min-width : 200px)
   opacity: 1
   margin: 0% 0% 0% 15%
   transition: all 0.35s 0.1s linear
  @media only screen and (min-width : 1050px)
   opacity: 1
   margin: 0% 0% 0% 30%
   transition: all 0.35s 0.1s linear

 
.outdoormixContent
  @media only screen and (min-width : 200px)
   width: 200px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 40px
   font-weight: 600
   height: 10px
   line-height: 40px
   color:  #32a1ce
   margin: 0px 0% 0% 24%
   padding-top: 70px
  @media only screen and (min-width : 600px) 
   width: 350px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 55px
   font-weight: 600
   height: 30px
   line-height: 70px
   color: #32a1ce
   padding-top: 15%
   margin: 0px 0% 0% 24%
  @media only screen and (min-width : 1370px) 
   width: 350px
   opacity: 0
   font-family: 'TeXGyreAdventorRegular'
   font-size: 80px
   font-weight: 600
   height: 30px
   line-height: 70px
   color: #32a1ce
   padding-top: 10%
   
  
  
.outdoormixContainer:hover .outdoormixContent
  @media only screen and (min-width : 200px)
   opacity: 1
   margin: 0% 0% 0% 20%
   transition:  0.35s 0.1s 
  @media only screen and (min-width : 800px)
   opacity: 1
   margin: 0% 0% 0% 24%
   transition:  0.35s 0.1s 
  @media only screen and (min-width : 1050px)
   opacity: 1
   margin: 0% 0% 0% 30%
   transition:  0.35s 0.1s 

.outdoormixContainer
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-left: auto
   margin-right: auto
   margin-bottom: 15px
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 55px
  @media only screen and (min-width : 800px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 50px
  @media only screen and (min-width : 1050px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 55px

  
.fasboaContent
  @media only screen and (min-width : 200px)
   width: 200px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 55px
   font-weight: 600
   height: 10px
   line-height: 40px
   color:  #32a1ce
   margin: 0% 0% 0% 20%
  @media only screen and (min-width : 600px)
   width: 300px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 55px
   font-weight: 600
   height: 10px
   line-height: 40px
   color:  #32a1ce
   margin: 0% 0% 0% 25%
   padding-top: 15%
  @media only screen and (min-width : 1370px) 
   width: 300px
   opacity: 0
   font-family: 'TeXGyreAdventorRegular'
   font-size: 100px
   font-weight: 600
   height: 30px
   line-height: 70px
   color: #32a1ce
   padding-top: 15%
   margin-left: 30%

 
 
.fasboaContainer
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-left: auto
   margin-right: auto
   margin-bottom: 15px
  
  
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 1.8%
   margin-right: 0%
  @media only screen and (min-width : 800px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 4%
   margin-right: 0%
  @media only screen and (min-width : 1050px) 
   max-width: 56rem
   width: 56rem
   max-height: 600px
   height: 600px
   margin-left: 1.8%
   margin-right: 0%
  
.fasboaContainer:hover .fasboaContent
  opacity: 1
  transition: all 0.35s 0.1s linear
  

.indeContent
  @media only screen and (min-width : 200px)
   width: 200px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 40px
   font-weight: 600
   height: 10px
   line-height: 30px
   color: #dd9933
   margin: 5% 0% 0% 30%
  @media only screen and (min-width : 600px)
   width: 300px
   opacity: 1
   font-family: 'TeXGyreAdventorRegular'
   font-size: 55px
   font-weight: 600
   height: 60px
   line-height: 50px
   color: #dd9933
   margin: 15% 0% 0% 25%
  @media only screen and (min-width : 1370px) 
   width: 300px
   opacity: 0
   font-family: 'TeXGyreAdventorRegular'
   font-size: 100px
   font-weight: 600
   height: 30px
   line-height: 80px
   color: #dd9933
   padding-top: 4%
   margin-left: 10%
 
.indeContainer
  @media only screen and (min-width : 200px) 
   width: 340px
   height: 300px
   margin-left: auto
   margin-right: auto
  @media only screen and (min-width : 475px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 50px
  @media only screen and (min-width : 800px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 50px
  @media only screen and (min-width : 1050px) 
   max-width: 56rem
   width: 56rem
   height: 600px
   margin-left: 5px
   margin-right: 55px

   
.indeContainer:hover .indeContent
  opacity: 1
  margin: 0% 0% 0% 30%
  transition:  0.35s 0.1s 
  transition: all 0.35s 0.1s linear




.ensavoirPlus2
  @media only screen and (min-width : 200px)
   display: none
  
  @media only screen and (min-width : 475px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0.5em auto
   color: rgb(221, 128, 51)
   display: block
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  

.ensavoirPlus2:hover
  transform : scale(1.5)
  margin: 0 auto
  color: #BF507B
  text-shadow: black 0.1em 0.1em 0.2em
  
.ensavoirPlus3
  @media only screen and (min-width : 200px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 3em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 600px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 1.2em 0em 0em 4.2em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 1050px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 3em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em

.ensavoirPlus3:hover
  transform : scale(1.5)
  margin-left: 6.5rem
  color: #BF507B
  text-shadow: black 0.1em 0.1em 0.2em

.ensavoirPlus4
  @media only screen and (min-width : 200px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 3em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 600px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 1.2em 0em 0em 5em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 1050px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 6em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em


.ensavoirPlus4:hover
  transform : scale(1.5)
  margin-left: 8rem
  color: #BF507B
  text-shadow: black 0.1em 0.1em 0.2em
  
.ensavoirPlus5
  @media only screen and (min-width : 200px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 3em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 600px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 1.2em 0em 0em 4.5em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 1050px)
   font-size: 20px 
   font-family: 'roboto'
   margin: 0em 0em 0em 6.5em
   color: rgb(221, 128, 51)
   cursor: pointer
   text-shadow: black 0.1em 0.1em 0.2em
.ensavoirPlus5:hover
  @media only screen and (min-width : 200px)
   transform : scale(1.5)
   margin-left: 6em
   color: #BF507B
   text-shadow: black 0.1em 0.1em 0.2em
  
  @media only screen and (min-width : 1050px)
   transform : scale(1.5)
   margin-left: 11em
   olor: #BF507B
   text-shadow: black 0.1em 0.1em 0.2em



.svg-inline--fa.fa-window-close.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconCross2
  @media only screen and (max-width : 475px)
   
   margin: 0% 0% 0% 40% 
   color: #BF507B
   
  @media only screen and (min-width : 475px)
   font-size: 30px
   margin: 0% 0% 0% 0%
   color: #BF507B
   cursor: pointer

.svg-inline--fa.fa-window-close.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconCross3
  @media only screen and (max-width : 475px)
   
   margin: 0% 0% 0% 165px 
   color: #BF507B
   
  @media only screen and (min-width : 475px)
   font-size: 30px
   margin: 0% 0% 0% 92%
   color: #BF507B
   cursor: pointer

.moreVideo
  font-size: 50px 
  font-family: 'roboto'
  color: white
  text-align: center

