@import src/styles/vars



.work

  padding: 6em
  height: 600px
  
  color: pink
  text-align: center
  font-weight: bold

  

.showReel

  margin-top: 20px
  height: 100px
  color: pink
  text-align: center


.outdoormix

  
  height: 100px
  color: pink
  text-align: center

.ski

  
  height: 100px
  color: pink
  text-align: center

.queyras

  
  height: 100px
  color: pink
  text-align: center
