.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay1
  cursor: pointer
  color: #32a1ce
  display: block
  @media only screen and (min-width : 475px)
   font-size: 80px
   margin-top: 7% 
   margin-left: auto
   margin-right: auto
   display: block
  @media only screen and (min-width : 600px)
   font-size: 100px
   margin-top: 7% 
   margin-left: auto
   margin-right: auto
   
   
  @media only screen and (min-width : 1370px)
   font-size: 100px
   margin-top: 7% 
   margin-left: auto
   margin-right: auto
   display: block
   

.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay2
  color: #DD9933
  cursor: pointer
  display: block
  @media only screen and (min-width : 200px)
   font-size: 80px
   margin-top: 10% 
   margin-left: auto
   margin-right: auto
  @media only screen and (min-width : 475px)
   font-size: 100px
   margin-top: 22% 
   margin-left: auto
   margin-right: auto
  @media only screen and (min-width : 1050px)
   font-size: 100px
   margin-top: 1% 
   margin-left: auto
   margin-right: auto
  
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay3
  cursor: pointer
  color: #32a1ce 
  @media only screen and (min-width : 200px)
   font-size: 80px
   margin: 10% 0% 0% 20% 
   
  
  @media only screen and (min-width : 475px)
   font-size: 100px
   margin: 20% 0% 0% 35% 
  @media only screen and (min-width : 1050px)
   font-size: 100px
   margin: 7% 0% 0% 43%
    
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay4
  color: #DD9933
  cursor: pointer
  @media only screen and (min-width : 200px)
   font-size: 80px
   margin: 10% 0% 0% 20% 
  
  @media only screen and (min-width : 475px)
   font-size: 100px
   margin: 18% 0% 0% 25% 
   
  @media only screen and (min-width : 1050px)
   font-size: 100px
   margin: 7% 0% 0% 40%
   
   
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay5
  cursor: pointer
  color: #DD9933
  @media only screen and (min-width : 200px)
   font-size: 80px
   margin: 10% 0% 0% 20% 
  @media only screen and (min-width : 475px)
   font-size: 100px
   margin: 25% 0% 0% 25% 
   color: #DD9933
  @media only screen and (min-width : 1050px)
   font-size: 100px
   margin: 10% 0% 0% 43%
   
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay6
  cursor: pointer
  color: #32a1ce
  @media only screen and (min-width : 200px)
   font-size: 80px
   margin: 10% 0% 0% 15% 
  @media only screen and (min-width : 475px)
   font-size: 100px
   margin: 15% 0% 0% 20% 
   color: #32a1ce 
  @media only screen and (min-width : 1050px)
   font-size: 100px
   margin: 15% 0% 0% 35%
     

  
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay1:hover 
  color: black
  background-color: rgba(255, 255, 255, 0.2)
  transition: all 0.35s 0.1s linear
  padding: 0.2em
  border-radius: 100px

.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay2:hover 
 
  color: black
  transition: all 0.35s 0.1s linear
  background-color: rgba(255, 255, 255, 0.2)
  padding: 0.2em
  border-radius: 100px
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay3:hover 
 
  color: black
  transition: all 0.35s 0.1s linear
  background-color: rgba(255, 255, 255, 0.2)
  padding: 0.2em
  border-radius: 100px
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay4:hover 
 
  color: black
  transition: all 0.35s 0.1s linear
  background-color: rgba(255, 255, 255, 0.2)
  padding: 0.2em
  border-radius: 100px
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay5:hover 
 
  color: black
  transition: all 0.35s 0.1s linear
  background-color: rgba(255, 255, 255, 0.2)
  padding: 0.2em
  border-radius: 100px
.svg-inline--fa.fa-play-circle.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconPlay6:hover 
 
  color: black
  transition: all 0.35s 0.1s linear
  background-color: rgba(255, 255, 255, 0.2)
  padding: 0.2em
  border-radius: 100px

.svg-inline--fa.fa-window-close.fa-w-16.fa-null.fa-rotate-null.fa-pull-null.iconCross
  @media only screen and (max-width : 475px)
   
   margin: 0% 0% 0% 165px 
   color: #BF507B
   
  @media only screen and (min-width : 475px)
   font-size: 1em
   color: #BF507B
   background-color: white
   position: absolute
   right: 240px
   top: 600px
   z-index: 999
   cursor: pointer
